# Environment variable files
Server/.env
Client/.env

# Node modules
Server/node_modules/
# Client/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/.pnp
.pnp.js

# Build directories
dist/
build/

react-social-1-firebase-adminsdk-e14cd-65b4bbb7ac.json